// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arimo', sans-serif;
    background: url('/images/ricepaper_v3.png') 0 0 repeat;
    // background: url('/images/congruent_pentagon.png') 0 0 repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


.angular-google-map-container { height: 300px; }

#buttonList {
    list-style: none;
    padding: 0;
    text-align: center;    
}

#placeList {
    // background: url('/images/rockywall.png') 0 0 repeat;
    margin-top: 10px;
    // border: 2px solid #aaa;
    list-style: none;
    padding: 0;
    height: 200px;
    overflow: scroll;

    li {
        padding: 20px;
        border: 2px solid #ddd;
        // box-shadow: 4px 4px #fff;
    }
}

.custom-info-window {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}

.selected {
    background: url('/images/congruent_pentagon.png') 0 0 repeat;
}

.selectedTravel {
    background-color: #5bc0de !important;
}

/* Twitter stream */

.twitter-timeline{
    margin: 0 auto;
    height: 300px;
}

.directionsLinks {
    width: 36px;
    height: 36px;
}

.glyphicon-driving {
    background: url('/images/glyphicons_005_car.png') 5px 7px no-repeat;
}

.glyphicon-transit {
    background: url('/images/glyphicons_014_train.png') 8px 5px no-repeat;
}

.glyphicon-bicycling {
    background: url('/images/glyphicons_306_bicycle.png') 1px 8px no-repeat;
}

.glyphicon-walking {
    background: url('/images/glyphicons_003_user.png') 7px 7px no-repeat;
}

#optionSelect {
    border: 2px solid #ddd;
    padding: 10px;

    h3 {
        text-align: center;
    }

    // &>button {
    //     position: absolute;
    //     right: 40px;
    //     top: 60px;
    // }
    &>button {
        float: right;
    }
}

#tabset {
    .active a {
        background: url('/images/congruent_pentagon.png') 0 0 repeat;
    }
}

#startAddress {
    margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    #placeList {
        height: 300px;
    }

    .angular-google-map-container { 
        height: 400px; 
    }
}