<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angular waffelsdinges</h3>
</div>

<ul id="buttonList">
  <button class="btn btn-lg btn-success" ng-click="getPlaces()">Get Places<span class="glyphicon glyphicon-ok"></span></button>
  <button class="btn btn-lg btn-success" ng-click="getDistanceMatrix()">Get Directions<span class="glyphicon glyphicon-ok"></span></button>
</ul>

<div class="container">
  <input type="text" ng-model="startAddress" placeholder="Starting Address"></input>
</div>

<google-map center="map.center" pan="true" zoom="map.zoom" draggable="true">
  <markers ng-if="placeMarkers.length" models="placeMarkers" coords="'self'" fit="true" click="'click'" options="'markerOptions'">
    <windows show="'showWindow'" closeclick="'closeClick'" options="'windowOptions'">
      <div class="ng-scope">
        <p ng-non-bindable="">
          <strong>{{place.name}}</strong>
          <span>{{place.hours}}</span>
        </p>
        <p ng-non-bindable="" class="muted">
          <span>{{place.address}}</span>
        </p>
      </div>
    </windows>
  </markers>
</google-map>

<hr/>

<ul id="placeList">
  <li ng-repeat="place in places" ng-click="selectPlace($index)" ng-class="{selected: selectedIndex==$index }" class="locationItem">
    <strong>{{place.name}}</strong>
    <p>{{place.address}}</p>
    <p>{{place.hours}}</p>

    <div ng-if="place.distance && place.duration">
      {{place.distance}} | {{place.duration}}  
    </div>

    <button ng-if="markerExists($index)" class="btn btn-small" ng-click="panPlace($index)">Zoom to marker</button>
    <p ng-if="!markerExists($index)">It appears this place doesn't exist!</p>
  </li>
</ul>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Go get that wafel!</p>
</div>
