<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angular waffelsdinges</h3>
</div>

<ul id="buttonList">
  <button class="btn btn-lg btn-success" ng-click="getAllPlaces()">Get Places<span class="glyphicon glyphicon-ok"></span></button>
  <button class="btn btn-lg btn-success" ng-click="getDistanceMatrix()">Get Directions<span class="glyphicon glyphicon-ok"></span></button>
</ul>

<div class="input-group" id="startAddress">
  <input type="text" class="form-control" placeholder="Enter starting address">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-flag"></span> Submit</button>
  </span>
</div>
<hr/>


<div class="container-fluid">
  <div class="row">
    
    <!--MAP-->
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-4">

          <p class="input-group">
            <input id="selectedDate" type="text" class="form-control" datepicker-popup="M/dd/yyyy" ng-model="dateSelected" is-open="opened" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>

          <select id="selectedTime" class="form-control" ng-model="timeSelected" ng-options="time.text for time in times"></select>

          <button class="btn btn-info" ng-click="getSelectedPlaces(dateSelected, timeSelected.value)">Find 'em!<span class="glyphicon glyphicon-ok"></span></button>

        </div>
        <div class="col-md-8">
          <google-map center="map.center" pan="true" zoom="map.zoom" draggable="true">
            <markers ng-if="placeMarkers.length" models="placeMarkers" coords="'self'" fit="true" click="'click'" options="'markerOptions'">
              <windows show="'showWindow'" closeclick="'closeClick'" options="'windowOptions'">
                <div class="ng-scope">
                  <p ng-non-bindable="">
                    <strong>{{place.name}}</strong>
                    <span>{{place.hours}}</span>
                  </p>
                  <p ng-non-bindable="" class="muted">
                    <span>{{place.address}}</span>
                  </p>
                </div>
              </windows>
            </markers>
          </google-map>
        </div>
      </div>
    </div>


    <div class="col-md-5">
      <tabset>
        <tab heading="Locations">

          <ul id="placeList">
            <li ng-repeat="place in places" ng-click="selectPlace($index)" ng-class="{selected: selectedIndex==$index }" class="locationItem">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-xs-9">
                    <h4>{{place.name}}</h4>
                    <small>
                      <p>{{place.address}}</p>
                      <p>{{displayedDate}} | {{place.hours}}</p>
                    </small>
                  </div>
                  <div class="col-xs-3">
                    <button ng-if="markerExists($index)" class="btn btn-small" ng-click="panPlace($index)">Zoom</button>
                    <p ng-if="!markerExists($index)">It appears this place doesn't exist!</p>

                    <div ng-if="place.distance && place.duration">
                      <span class="label label-info">{{place.distance}}</span>
                      <span class="label label-info">{{place.duration}}</span>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </tab>

        <tab heading="Twitter Feed">
          <a class="twitter-timeline" href="https://twitter.com/waffletruck" data-widget-id="472444712196898816">Tweets by @waffletruck</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </tab>
      </tabset>
    </div>

  </div>
</div>




<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Go get that wafel!</p>
</div>
